[submodule "libultraship"]
	path = libultraship
	url = https://github.com/PalindromicBreadLoaf/libultraship-switch.git
	branch = switch-port
[submodule "Torch"]
	path = Torch
	url = https://github.com/HarbourMasters/Torch.git
